:root {
  --card-color: rgb(23, 23, 23);
}

html, body {
  height: 100%;
  margin: 0;
  background-color: #030013;
  /* display: flex; */
  /* flex-direction: column; */
}

li,
a,
p,
h1 {
  color: white;
  font-family: "Noto Sans", sans-serif;
  text-shadow: 0 0 30px rgba(157, 96, 212, 0.5);
  font-size: large;
}

.title {
  text-align: center;
  font-size: 5rem;
}

.content {
  max-width: 80%;
  margin: 0 auto;
}